<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<div class="card" id="product-details-card" style="display:none">
<div class="card-body">
<div class="container" id="product-section">
  <div class="row">
   <div class="col-md-6">
    <img id="product-image" width="500" src="http://127.0.0.1:8000/media/images/hammer.jpg" class="image-responsive" style="margin: auto !important;display: block;max-width: 100%;max-height: 90%;"/>
   </div>

   <div class="col-md-6">

    <div class="row">
      <div class="col-md-12">
       <h1 id="product-title">Hammer</h1>
     </div>
    </div>

    <div class="row">
     <div class="col-md-12">
      <span class="label label-primary" id="product-tag">Vintage</span>
      <span class="monospaced">Product ID: <%= output %></span>
     </div>
    </div>

    <div class="row">
     <div class="col-md-12">
      <p class="description" id="product-description">
       Classic film camera. Uses 620 roll film.
       Has a 2&frac14; x 3&frac14; inch image size.
      </p>
     </div>
    </div>

    <div class="row">
     <div class="col-md-12 bottom-rule">
      <h2 class="product-price" id="product-price">$129.00</h2>
     </div>
    </div><!-- end row -->

    <div class="row">
     <div class="col-md-4 text-left text-success" style="margin-bottom:10px;">
      <span class="monospaced" id="product-stock">Stock</span>
     </div>
    </div>

    <div class="row add-to-cart" style="margin-top: 25px;">
     <div class="col-md-6 product-qty">
      <input style="border: 1px solid #DDDDDD;" id="product-qty-selector" class="btn btn-default btn-lg btn-qty" value="1" />
     </div>
     <div class="col-md-6">
      <button id="product-add-to-cart" class="btn btn-lg btn-brand btn-full-width text-white" style="background-color:#630436">
       Add to Cart
      </button>
     </div>
    </div>



   </div>

  </div><!-- end row -->
 </div><!-- end container -->
</div>
</div>
<script>

function backendServer() {
  const domain = window.location.hostname.toString();
  console.log("Domain: ", domain)
  if (domain == "scanngo-frontend-app.azurewebsites.net") {
    var backendServerURL = "https://scanngo-backend-app.azurewebsites.net/";
  }
  else if ( (domain == "127.0.0.1") || (domain == "localhost") || (domain == "0.0.0.0") ) {
    var backendServerURL = "http://127.0.0.1:8000/";
    }
  else {
    alert("ERROR: Cannot determine Backend Server (Django) URL");
    }

  console.log('Backend Server URL', backendServerURL)
  return backendServerURL
}

function loadProduct(id) {
    let backendServerURL = backendServer()
    let djangoServer = backendServerURL + "products?product_id=" + id
    console.log("sending data to ",djangoServer)
    fetch(djangoServer)
      .then(response => response.json()) // extract the json from the response you get from the server
      .then(data => {
      console.log(data)
      let shaunsData = data[0]
      document.getElementById("product-title").innerHTML = shaunsData.name;
      document.getElementById("product-price").innerHTML = shaunsData.price;
      document.getElementById("product-description").innerHTML = shaunsData.description;
      document.getElementById("product-image").src = shaunsData.productImage;
      document.getElementById("product-price").innerHTML = shaunsData.price;
      document.getElementById("product-add-to-cart").onclick = function() { addToCart1(<%= output %>, document.getElementById("product-qty-selector").value); }
      if (shaunsData.product_quantity > 0) {
        document.getElementById("product-stock").innerHTML = "In Stock"
      } else {
        document.getElementById("product-stock").innerHTML = "Out of Stock"
      }
        document.getElementById("product-details-card").setAttribute("style","")
      });
}

function addToCart1(id, qty) {
    if (parseInt(qty) > 0) {
      let backendServerURL = backendServer()
      let djangoServer = backendServerURL + "add/"
      let token = sessionStorage.getItem('access').toString()
      console.log("Access Token from sessionStorage: ", token)
      var obj123 = {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'Origin': '',
          'Host': 'api.producthunt.com',
          'Authorization': 'Bearer ' + token
        },
        body: JSON.stringify({
          'product_id': id.toString(),
          'quantity' : qty
        })
      }

      fetch(djangoServer, obj123)
        .then(response => response.json()) // extract the json from the response you get from the server
        .then(data => {
          console.log(data)
        })
  } else {
    alert('Product quantity cannot be zero or be a number less than zero!')
    document.getElementById("product-qty-selector").value = 1
  }
 }

loadProduct(<%= output %>)
</script>
<%- include('partials/footer.ejs') %>
